In [2]:
import requests
from PIL import Image
from io import BytesIO
import pandas as pd
import random

# Assuming your CSV file is named 'data.csv'
file_path = 'inditex_df.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows of the DataFrame
print(df.head())

for index,image in df[0:1].iterrows():
    print(image['IMAGE_VERSION_1'])
    print(image['IMAGE_VERSION_2'])
    print(image['IMAGE_VERSION_3'])

                                     IMAGE_VERSION_1
0  https://static.zara.net/photos///2024/V/0/3/p/...  \
1  https://static.zara.net/photos///2024/V/0/3/p/...
2  https://static.zara.net/photos///2024/V/0/1/p/...
3  https://static.zara.net/photos///2024/V/0/2/p/...
4  https://static.zara.net/photos///2024/V/0/2/p/...

                                     IMAGE_VERSION_2
0  https://static.zara.net/photos///2024/V/0/3/p/...  \
1  https://static.zara.net/photos///2024/V/0/3/p/...
2  https://static.zara.net/photos///2024/V/0/1/p/...
3  https://static.zara.net/photos///2024/V/0/2/p/...
4  https://static.zara.net/photos///2024/V/0/2/p/...

                                     IMAGE_VERSION_3
0  https://static.zara.net/photos///2024/V/0/3/p/...
1  https://static.zara.net/photos///2024/V/0/3/p/...
2  https://static.zara.net/photos///2024/V/0/1/p/...
3  https://static.zara.net/photos///2024/V/0/2/p/...
4  https://static.zara.net/photos///2024/V/0/2/p/...
https://static.zara.net/photos///2024/V/0/3/p/5767/521/712/2/w/2048/5767521712_6_1_1.jpg?ts=1707751045954
https://static.zara.net/photos///2024/V/0/3/p/5767/521/712/2/w/2048/5767521712_6_2_1.jpg?ts=1707751045737
https://static.zara.net/photos///2024/V/0/3/p/5767/521/712/2/w/2048/5767521712_3_1_1.jpg?ts=1707751046435

In [3]:
# show how many nan values are in the dataframe
print(df.isnull().sum())

IMAGE_VERSION_1       2
IMAGE_VERSION_2     113
IMAGE_VERSION_3    9001
dtype: int64

In [4]:
# remove all rows with nan values
df = df.dropna()

df.head()

,IMAGE_VERSION_1,IMAGE_VERSION_2,IMAGE_VERSION_3
0,https://static.zara.net/photos///2024/V/0/3/p/...,https://static.zara.net/photos///2024/V/0/3/p/...,https://static.zara.net/photos///2024/V/0/3/p/...
1,https://static.zara.net/photos///2024/V/0/3/p/...,https://static.zara.net/photos///2024/V/0/3/p/...,https://static.zara.net/photos///2024/V/0/3/p/...
2,https://static.zara.net/photos///2024/V/0/1/p/...,https://static.zara.net/photos///2024/V/0/1/p/...,https://static.zara.net/photos///2024/V/0/1/p/...
3,https://static.zara.net/photos///2024/V/0/2/p/...,https://static.zara.net/photos///2024/V/0/2/p/...,https://static.zara.net/photos///2024/V/0/2/p/...
4,https://static.zara.net/photos///2024/V/0/2/p/...,https://static.zara.net/photos///2024/V/0/2/p/...,https://static.zara.net/photos///2024/V/0/2/p/...

In [6]:
# save the dataframe to a new csv file
df.to_csv('inditex_df_no_nan.csv', index=False)